<!doctype html>
<html>
<head>
    <title>Kamputerm</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
</head>
<body ng-app="kamputerm">
<div ng-controller="ExampleController">
    <input type="text" ng-model="user.username" value=""/><br/>
    <input type="text" ng-model="user.password" value=""/><br/>
    <input type="button" ng-click="send()" value="Send"/>
</div>
<script>
    angular.module('kamputerm', []).controller('ExampleController', ['$scope', '$http', function ($scope, $http) {
        $scope.master = {};

        $scope.reset = function () {
            $scope.user = {};//angular.copy($scope.master);
        };

        $scope.send = function () {
            var res = $http.post('/login', $scope.user);
            res.success(function(data, status, headers, config) {
                $scope.message = data;
            });
            res.error(function(data, status, headers, config) {
                alert('failure message: ' + JSON.stringify({data: data}));
            });
        };

        $scope.reset();
    }]);
</script>
</body>
</html>